#head {
    text-align: center;
}

.box {
    text-align: center;
}

body {
    background-image: linear-gradient(100deg, #575656, #062e3f);
    color: #ffdfdb;
    transition: 0.3s linear;
    overflow: hidden;
}