.navbar-header {
    float: none;
    background-color: #222222;
    box-sizing: content-box;
    height: 60px;
    margin: 0px;
    padding: 0px;
}



#title {
    text-align: center;
    top: 30px;
    font-size: 20px;
    line-height: 60px;
    -webkit-background-clip: text;
    background-size: 800%;
    background-image: linear-gradient(90deg, rgba(213, 132, 113, 0.6), rgba(108, 218, 39, 0.6), rgba(152, 128, 237, 0.6), rgba(58, 220, 13, 0.6), rgba(44, 139, 16, 0.6), rgba(124, 200, 235, 0.6));
    animation: gradient 30s infinite linear;
    color: transparent;
    font-size: 100;
}

@keyframes gradient {
    100% {
        background-position: -800% 0%;
    }
}

.navbar-header div:hover {
    color: #FFFFFF;
    cursor: pointer;

}

.navbar-header-skip {
    text-decoration: none;
}


.isprime-output {
    width: 200px;
    height: 30px;
    background-color: lightblue;
}

body {
    background-image: url("../images/background.png");
    margin: 5px;
}

.panel-body {
    margin-top: 20px;
    margin-left: 19.1%;
    margin-right: 19.1%;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    padding: 30px;
}

.footer {
    background-color: #222222;
    height: 60px;
    text-align: center;
    color: #9D9D9D;
    font-weight: 100;
    cursor: pointer;
    font-size: 20px;
    font-family: SimSun;
    line-height: 60px;
}

.footer:hover {
    color: #FFFFFF;
}

.introduce {
    color: #9D9D9D;
    font-size: 14px;
}

.navbar-header>div {
    margin: 0;
}

#myskill ul p {
    font-size: 14px;
}

#contact p {
    font-size: 10px;
}

nav ul li a {
    text-decoration: none;
    color: lightsteelblue;
}

nav ul li a:hover {
    color: blue;
}

nav ul li h5 {
    display: inline-block;
}

.count-prime-button,
.isprime-button {
    border: 0;
    background-color: #FFFFFF;
    color: #61666D;
    border: solid 1px;
}

.count-prime-button:hover,
.isprime-button:hover {
    color: #2FBDEF;
    border-color: #00AEEC;
}