* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: lightblue;
    text-align: center;
    background-image: url();
}

.continer {
    margin: 0;
    max-width: 400px;
    border-radius: 5px;
    background: fuchsia;
    padding: 25px;
    font-size: 15px;
    border-style: solid;
}

.nav button:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.nav input:focus {
    background-color: lightblue;
    transform: scale(1.05);
}

.left {
    border-top: 1px;
    float: left;
    margin: 30px 200px;
    position: top;
    overflow: hidden;
}

.right {
    border-top: 1px;
    float: right;
    margin: 30px 200px;
    position: top;
    overflow: hidden;
}

#rp {
    position: absolute;
    line-height: 100%;
}

.Task {
    border-radius: 5px;
}